$bper-green: #00b97f;
$bper-white: #fff;
$bper-blue: #006369;
$bper-orange: #ea862c;
$bper-padding-default: 15px;
$bper-padding-t-b: 112px;
$bper-padding-l-r: 30px;
$bper-dott-width-md: 124px;
$bper-padding-title: 50px;
$bper-width-text-xl: 330px;
$bper-width-text-md: 250px;
$bper-font-size-h3: 36px;